* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    font-family: Arial, sans-serif;
}

.background img {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    opacity: 50%;
    z-index: -1;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: +1;
    padding: 15px;
    border: 5px solid Maroon;
    border-radius: 5px;
    background-color: #ffe2e6;
    font-weight: bold;
    font-size: 18px;
    color: Maroon;
    opacity: 90%;
}

input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: Bisque;
    opacity: 75%;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    color: MidnightBlue;
}

input[type="submit"] {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    color: inherit;
    background-color: inherit;
    float: right;
}
